:root {
    --font-body: 'Roboto', sans-serif;
    --primary-color: rgba(29, 77, 114, 1);
    --text-color: #eee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-body);
    max-width: 100%;
    display: grid;
    grid-template: 80px 1fr 80px / 1fr;
    min-height: 100vh;
    margin: 0 auto;
    gap: 0;
    overflow-x: hidden;
}

/* ===========This is my Header CSS rule ========== */
header {
    display: flex;
    gap: 20px;
    background-color: var(--primary-color);
    justify-content: space-between;
    padding: 0 10px;
    position: relative;
    align-items: center;
}

header span {
    font-family: var(--font-body);
    font-weight: 600;
    color: var(--text-color);
    font-size: 1.5rem;
    display: block;
}

#menu {
    border: 0;
    background: none;
    color: var(--text-color);
    font-size: 26px;
    margin-left: auto;
}

nav {
    display: flex;
}

.navigation {
    display: flex;
    position: absolute;
    width: 100%;
    top: 5rem;
    right: 0;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    background-color: var(--primary-color);
    border-top: 1.2px solid var(--text-color);
}

.navigation a {
    font-family: var(--font-body);
    display: none;
    padding: 1rem 1.5rem;
    text-align: center;
    text-decoration: none;
    font-size: 0.9rem;
    color: var(--text-color);
    font-weight: 500;
}

.navigation a:hover {
    background-color: #bbb;
    color: #333;
    text-decoration: underline;
}

.navigation a.active {
    background-color: #1059a2;
    color: white;
    font-weight: 600;
}

.navigation.open a.active {
    background-color: #1059a2;
}

.open a {
    display: block;
}

body:has(.navigation.open) main,
.navigation ~ main {
    margin-top: 280px;
}

/* ===========This is my Main CSS rule ========== */
main {
    display: grid;
    grid-template: 40px 1fr / 1fr;
    gap: 0;
    max-width: 1500px;
    margin: 30px auto 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    margin-bottom: 50px;
}

main h1 {
    font-family: var(--font-body);
    grid-column: 1 / -1;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
}

.figure-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 20px;
    box-sizing: border-box;
    margin-top: 20px;
}

section {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 1rem;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: #e1e0e09a;
    border: 1px solid #c8c7c7d5;
}

section p {
    font-size: 0.8rem;
    width: 100%;
    word-break: break-word;
    hyphens: auto;
    text-align: center;
}

section h2 {
    font-size: 1.2rem;
    width: 100%;
    word-break: break-word;
    hyphens: auto;
    text-align: center;
}

.label {
    font-size: 0.65rem;
    color: #49008a;
}

section img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: 20px;
    object-position: center;
    box-shadow: 3px 0 3px 4px rgba(157, 156, 156, 0.747);
    transition: box-shadow 0.3s ease;
}

section img:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
    transform: translateY(-4px);
}

/* ===========This is my Footer CSS rule ========== */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    font-size: 0.8rem;
    background-color: var(--primary-color);
    padding: 0;
    margin: 0;
}

footer p {
    color: var(--text-color);
    text-align: center;
}



/* =========== Media Queries ============== */

@media only screen and (min-width: 550px) {
    .figure-container {
        grid-template-columns: repeat(2, 1fr);
    }

    section p {
        font-size: 0.8rem;
    }

    .label {
        font-size: 0.65rem;
    }

    section h2 {
        font-size: 1.2rem;
    }

    header span {
        font-size: 1.6rem;
    }

    main h1 {
        font-size: 1.7rem;
    }

}



@media only screen and (min-width: 895px) {
    main {
        width: 100%;
        max-width: 1100px;
    }

    header span {
        font-size: 1.8rem;
    }

    .navigation {
        flex-direction: row;
        position: static;
        width: auto;
        background-color: transparent;
        top: 1rem;
        right: 1rem;
        border-top: none;
    }

    .navigation a {
        display: block;
        font-size: 1.1rem;
        flex: 1 1 100%;
    }

    .figure-container {
        grid-template-columns: repeat(3, 1fr);
    }

    body:has(.navigation.open) main,
    .navigation ~ main {
        margin-top: 50px;
    }

    main h1 {
        font-size: 2rem;
    }

    #menu {
        display: none;
    }

    nav {
        display: block;
    }

    section p {
        font-size: 0.9rem;
    }

    .label {
        font-size: 0.8rem;
    }

    section h2 {
        font-size: 1.35rem;
    }

    footer {
        font-size: 1rem;
    }
}