@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/Roboto/roboto-regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../fonts/Roboto/roboto-bold.woff2') format('woff2');
}

:root {
    --font-body: 'Roboto', sans-serif;
    --primary-color: rgba(29, 77, 114, 1);
    --text-color: #eee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-body);
    max-width: 100%;
    display: grid;
    grid-template: 80px 1fr 80px / 1fr;
    min-height: 100vh;
    margin: 0 auto;
    gap: 0;
}

/* ===========This is my Header CSS rule ========== */
header {
    display: flex;
    gap: 20px;
    background-color: var(--primary-color);
    justify-content: space-between;
    padding: 0 10px;
    position: relative;
    align-items: center;
}

header span {
    font-family: var(--font-body);
    font-weight: 600;
    color: var(--text-color);
    font-size: 1.2rem;
    display: block;
}

#menu {
    border: 0;
    background: none;
    color: var(--text-color);
    font-size: 26px;
    margin-left: auto;
}

nav {
    display: flex;
}

.navigation {
    display: flex;
    position: absolute;
    width: 100%;
    top: 5rem;
    right: 0;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    background-color: var(--primary-color);
    border-top: 1.2px solid var(--text-color);
}

.navigation a {
    display: none;
    padding: 1rem 1.5rem;
    text-align: center;
    text-decoration: none;
    font-size: 0.9rem;
    color: var(--text-color);
    font-weight: 500;
}

.navigation a:hover {
    background-color: #bbb;
    color: #333;
    text-decoration: underline;
}

.open a {
    display: block;
}

body:has(.navigation.open) main,
.navigation ~ main {
    margin-top: 280px;
}

/* ===========This is my Main CSS rule ========== */
main {
    display: grid;
    grid-template: 40px 1fr / 1fr;
    gap: 0;
    max-width: 1500px;
    margin: 30px auto 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    margin-bottom: 50px;
}

main h1 {
    font-family: var(--font-body);
    grid-column: 1 / -1;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}

.figure-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 20px;
    box-sizing: border-box;
    margin-top: 20px;
}

.gallery {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-bottom: 20px;
}

.gallery img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

/* ===========This is my Footer CSS rule ========== */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    font-size: 0.8rem;
    background-color: var(--primary-color);
    padding: 0;
    margin: 0;
}

footer p {
    color: var(--text-color);
    text-align: center;
}